.logo {
    padding-top: 3px;
    padding-bottom: 3px;
}

.mustra-color {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
}

// Home
.cursos-container .datos {
    border-top: 0;
}

.cursos-container .profesor img {
    border-radius: 50%;
    margin-right: 10px;
}

.cursos-container .precio {
    color: #fff;
    padding: 3px 6px;
}