.footer {
    background: var(--dark-color);
    color: #FFF;
    padding: 16px 0;
    font-size: var(--small-font-size);
    margin-top: auto;
}
.nav-rrss .icon {
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
}