// Breakpoints
@mixin from($from) {
    @if isBreakpoint($from) {
        @media screen and (min-width: getBp($from)){ @content }
    }
    @else {
        @media screen and (min-width: $from){ @content }
    }
};

@mixin to($to) {
    @if isBreakpoint($to) {
        @media screen and (max-width: getBp($to)){ @content }
    }
    @else {
        @media screen and (max-width: $to){ @content }
    }
};


// All media query
@mixin media-from($class) {
    @each $breakpoint in $breakpoints {
        .#{nth($breakpoint, 1)}-#{$class} {
            @include from(nth($breakpoint, 1)) {
                @content
            }
        }
    }
}

@mixin media-to($class) {
    @each $breakpoint in $breakpoints {
        .#{nth($breakpoint, 1)}-#{$class} {
            @include to(nth($breakpoint, 1)) {
                @content
            }
        }
    }
}


// Fonts
@mixin heading-font {
    line-height: var(--title-line-height);
    font-family: var(--title-font);
    font-weight: 600;
}

@mixin body-font {
    line-height: var(--text-line-height);
    font-family: var(--text-font);
    font-weight: 400;
}


// Alerts
@mixin alert($color) {
    color: darken($color, 20%);
    border-color: $color;
    background-color: lighten($color, 35%);
}


// Buttons
@mixin button {
    display: inline-block;
    padding: .5rem 1rem;
    margin-bottom: calc(var(--gutter) / 2);
    background-color: var(--color);
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
    line-height: inherit;
    transition: all .3s;
    border: 1px solid var(--color);
    text-align: center;
    user-select: none;

    &:hover {
        background-color: var(--color-alt);
        text-decoration: none;
        color: var(--color);
    }

    &:active {
        transform: scale(.98)
    }
}

@mixin button-ghost {
    color: var(--color);
    background: none;

    &:hover {
        background: var(--color);
        color: #fff;
        border-color: transparent;
    }
}

// Tables
@mixin tableStyle($color) {
    th {
        background: $color
    }

    tr {
        border-bottom: 1px solid rgba($color, .3);

        &:hover {
            background: rgba($color, .1)
        }
    }

    &.first-column {
        td:first-child {
            background: rgba($color, .75);
            color: #fff;
        }
    }
}

// Tabs
@mixin tabs($color) {
    .tab {
        background: $color;
        transition: all .3s;

        &:hover, &.active {
            background: rgba($color, .75);
        }
    }

    .panel {
        border: 1px solid rgba($color, .3);
    }
}

// Accordion
@mixin accordion($color) {
    .accordion-link {
        background: $color;
        transition: all .3s;

        &:hover {
            background: rgba($color, .75);
        }
    }
}